{%extends 'users/base.html'%}
{%load static%}
{%block css%}
<style type="text/css">
    .spacer {
        margin-top: 25px;
    }

    input {
        border-top: 0;
        border-right: 0;
    }

    .question {
        display: grid;
        height: auto;
        width: 500px;

    }


    .form-row {
        display: block;
    }
</style>

{%endblock css%}
{%load widget_tweaks%}
{%block body%}
<div class="container">
    <div class="row spacer"></div>
    <div class="row">
        <div class="col-12">
            <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in quiz_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {%for i in quiz_form.non_field_errors%}
                            herer<li>{{i}}</li>
                          {%endfor%}
                        </ul>
                {%for error in form.errors%}
                    here{{error}}
                {%endfor%}
                <div class="row spacer">
                    <div class="col-2">
                        
                        <label>{{quiz_form.title.label}}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{quiz_form.title}}

                        </div>
                    </div>
                </div>
                <div class="row spacer">
                    <div class="col-2">
                        <label>{{quiz_form.tags.label}}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{quiz_form.tags}}
                        </div>
                    </div>
                </div>
                <div class="row spacer">
                    <div class="col-2">
                        <label>{{quiz_form.bg_pic.label}}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{quiz_form.bg_pic}}
                        </div>
                    </div>
                </div>
                <div class="row spacer">
                    <div class="col-2">
                        <label>{{quiz_form.reattempt.label}}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{quiz_form.reattempt}}
                        </div>
                    </div>
                    <!-- </div>
        <div class="row spacer"> -->
                    <div class="col-2">
                        <label>{{quiz_form.private.label}}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{quiz_form.private}}
                        </div>
                    </div>
                </div>

                
                <div id="item-template" style="display: none;">

                    <div class="form-row">

                        <div class="col-2">



                            <label>Question</label>
                        </div>
                        <div class="col-8">
                            <div class="input-group question">
                                <input type="text" name="quizz_question-__prefix__-question" maxlength="1024"
                                    id="id_quizz_question-__prefix__-question">

                            </div>
                        </div>
                        <div class="row spacer">

                            <div class="col-2">
                                <label>Option 1</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <input type="text" name="quizz_question-__prefix__-option_1" maxlength="1024"
                                        id="id_quizz_question-__prefix__-option_1">
                                </div>
                            </div>
                            <div class="col-2">
                                <label>Option 2</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <input type="text" name="quizz_question-__prefix__-option_2" maxlength="1024"
                                        id="id_quizz_question-__prefix__-option_2">
                                </div>
                            </div>
                            <div class="col-2">
                                <label>Option 3</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <input type="text" name="quizz_question-__prefix__-option_3" maxlength="1024"
                                        id="id_quizz_question-__prefix__-option_3">
                                </div>
                            </div>
                            <div class="col-2">
                                <label>Option 4</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <input type="text" name="quizz_question-__prefix__-option_4" maxlength="1024"
                                        id="id_quizz_question-__prefix__-option_4">
                                </div>
                            </div>
                            <div class="col-2">
                                <label>Correct option</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <input type="number" name="quizz_question-__prefix__-answer" value="1" min="0"
                                        id="id_quizz_question-__prefix__-answer">
                                </div>
                            </div>
                            <div class="col-2">
                                <label>Delete</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                   <input type="checkbox" name="quizz_question-__prefix__-DELETE" class="remove-form"
                                        id="id_quizz_question-__prefix__-DELETE">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>


                </div>

                <div class="input-group-append">
                    <input class="btn btn-success" id='add-form-row' type="button" value="Add Question">
                </div>
                <br>
                {{ quest_form.management_form }}
                {% for hidden in quest_form.hidden_fields %}
                    herer{{ hidden }}
                {% endfor %}
                <div id="items-form-container">
                  <ul>
                  {%for i in quest_form.non_form_errors%}
                            <li>{{i}}</li>
                          {%endfor%}
                        </ul>
                    {% for form in quest_form %}
                        hererer{{form.id}}
                    <div class="form-row">
                        {{form.errors}}
                        <div class="col-2">
                          
                        
                            
                            
                            <label>{{form.question.label}}</label>
                        </div>
                        <div class="col-8">
                            <div class="input-group question">
                                {{form.question}}

                            </div>
                        </div>
                        <div class="row spacer">

                            <div class="col-2">
                                <label>{{form.option_1.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    {{form.option_1}}
                                </div>
                            </div>
                            <div class="col-2">
                                <label>{{form.option_2.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    {{form.option_2}}
                                </div>
                            </div>
                            <div class="col-2">
                                <label>{{form.option_3.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    {{form.option_3}}
                                </div>
                            </div>
                            <div class="col-2">
                                <label>{{form.option_4.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    {{form.option_4}}
                                </div>
                            </div>
                            <div class="col-2">
                                <label>{{form.answer.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    {{form.answer}}
                                </div>
                            </div>
                            <div class="col-2">
                                <label>{{form.DELETE.label}}</label>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    {{form.DELETE|add_class:'remove-form'}}
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endfor %}
     
                </div>
                <div class="row spacer">
                    <div class="col-4 offset-2">
                        <button type="submit" class="btn btn-block btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock body%}
{%block js%}
<script src="{%static 'quiz/create-quiz.js'%}" type="text/javascript"></script>
{%endblock js%}
