<!DOCTYPE html>

{%extends 'users/base.html'%}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static 'users/home.css'%}" type="text/css">
{%endblock css%}
{%block body%}


<section style="margin-bottom: 50px;">
    <div class="container">
        <h2 class="text-center">---QuizMaster</h2>
        <div class="col-md-12">
            <p>Select Your Quizzz____</p>
            <form method="get" action=".">
                {{filter.form}}
                <button type="submit">Search</button>
            </form>
            <section class="cards-wrapper">

                {%for q in filter.qs%}
                <div class="card-grid-space">
                    {%if user.is_authenticated%}
                    <div class='attempters'>attempted by {{q.attempters}}</div>
                    {%if author%}
                    <a href="{%url 'quiz:update-quiz' q.slug%}" class="update">Update</a>
                    {%else%}
                    <a href="{%url 'quiz:quizz' q.slug%}" class="update">Take Quiz</a>
                    {%endif%}
                    {%endif%}
                    <div class="card" style="&#45;&#45;bg-img: url({{q.bg_pic.url}})">
                        <div>
                            <h3>{{q.title}}</h3>
                            <div class="tags">
                                <div class="tag">By <a href="{%url 'view-profile' q.user.username%}">{{q.user.username}}</a></div>
                                <br>
                                <div class="tag">
                                    {%for i in q.tags.all%}
                                    {{i.name}}
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </section>
        </div>
    </div>
</section>

<div class="space"></div>

{%endblock body%}