<h1> Quiz title - {{object.title}} {{object.id}}</h1>
<ul>Questions
    {%for i in object.all_question%}
    <li>{{i.question}}
        <ul>
            

            <li>j ->{{i.option_1}}</li>
            <li>j ->{{i.option_2}}</li>
            <li>j ->{{i.option_3}}</li>
            <li>j ->{{i.option_4}}</li>
       
        </ul>
    </li>
    {%endfor%}
</ul>
<div class="quiz-form__quiz">
    <p class="quiz-form__question">
      2. Why is plastic dangerous for marine life?
    </p>
    <label class="quiz-form__ans" for="q21">
      <input type="radio" name="q2" id="q21" value="A" checked />
      <span class="design"></span>
      <span class="text">It's not dangerous because they use plastic waste for
        habitats</span>
    </label>
    <label class="quiz-form__ans" for="q22">
      <input type="radio" name="q2" id="q22" value="B" />
      <span class="design"></span>
      <span class="text">They can get tangled in it which hinders their ability to
        swim</span>
    </label>
    <label class="quiz-form__ans" for="q23">
      <input type="radio" name="q2" id="q23" value="C" />
      <span class="design"></span>
      <span class="text">They mistake it for food and cannot digest it</span>
    </label>
    <label class="quiz-form__ans" for="q24">
      <input type="radio" name="q2" id="q24" value="D" />
      <span class="design"></span>
      <span class="text">Both a and b</span>
    </label>
  </div>

  <div class="quiz-form__quiz">
    <p class="quiz-form__question">
      3. Where does the majority of plastic waste end up?
    </p>
    <label class="quiz-form__ans" for="q31">
      <input type="radio" name="q3" id="q31" value="A" checked />
      <span class="design"></span>
      <span class="text">Recycled</span>
    </label>
    <label class="quiz-form__ans" for="q32">
      <input type="radio" name="q3" id="q32" value="B" />
      <span class="design"></span>
      <span class="text">Oceans</span>
    </label>
    <label class="quiz-form__ans" for="q33">
      <input type="radio" name="q3" id="q33" value="C" />
      <span class="design"></span>
      <span class="text">Burned for energy</span>
    </label>
    <label class="quiz-form__ans" for="q34">
      <input type="radio" name="q3" id="q34" value="D" />
      <span class="design"></span>
      <span class="text">Landfills</span>
    </label>
  </div>