<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div type="text/html" id="item-template">
        <form method="POST" action="">
            {%for field in quest_form%}
            
            {%endfor%}
            <br>
            over eherr{{quest_form.option_1}}
        </br>
            <button type="submit">Submit ME FOr Erorrordfldkjf</button>
    </div>
    </form>


</body>
<script>
    $(document).ready(function () {
        $('.add-item').click(function (ev) {
            ev.preventDefault();
            var count = $('#items-form-container').children().length;
            var tmplMarkup = $('#item-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('div#items-form-container').append(compiledTmpl);

            // update form count
            $('#id_form-TOTAL_FORMS').attr('value', count + 1);
            $('html, body').animate({
                scrollTop: $("#add-item-button").position().top - 200
            }, 800);
        });
    });
</script>

</html>
<div class="space">
  {% for message in messages %}
<div class="alert alert-success alert-dismissible text-center" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
{{ message }}
</div>
{% endfor %}
</div>
<div class="col-md-4 col-sm-4 text-center card-view">
    {%if user.is_authenticated%}
    <a href="{% url 'quiz:quizz' quizie.title|slugify %}">
    {%else%}
    <a href="#">
    {%endif%}
        <img class="quiz-pic" src="{{quizie.bg_pic.url}}" alt="{{quizie.title}}" border="0">
        <br>{{quizie.title}}
        </a>
</div>