{%extends 'blogapp/base.html'%}
{%block body%}
{%block css%}
{%load static%}
<link rel="stylesheet" href="{%static 'blogapp/about.css'%}" type="text/css">
{%endblock css%}

<div class="content">
    <p>
    <h1 class='title'>Boldly Innovative</h1>
    <img src="https://res.cloudinary.com/slothcrew/image/upload/Slothcrew/IMG_2657.jpg" alt="Aimeri basking in the sun"
         class="circle">
    <div class="content-card">
        <br/> Consectetur molestiae explicabo veniam exercitationem rerum? Eius, harum in? Nemo eum, at repudiandae
        debitis ullam exercitationem tenetur minima saepe sit laborum impedit. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolorem molestiae
        In sapiente itaque ratione quas. Minima pariatur odit harum quibusdam aspernatur! Velit sapiente tempore
        accusamus.
    </div>

</div>
{%endblock body%}