<!doctype html>
{%load static%}
{% load tz %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'users/base.css'%}" type="text/css">

    {%block css%}{%endblock css%}
    {%if title%}
    <title>Quizzier-{{title}}</title>
    {%else%}
    <title>Quizzier-Tech Quizzes</title>
    {%endif%}
</head>
<body>
<section class="info">
    <a href="#" target="_blank"> <img src="{%static 'users/djangoreads.png'%}"></a>
</section>
<nav>
    <a href="{%url 'quiz:quizzes'%}" class="nav-item">Quizzier</a>
    {%if user.is_authenticated%}
    <a href="{%url 'quiz:create-quiz'%}" class="nav-item">Add Quiz</a>
    <a href="{%url 'profile'%}" class="nav-item">Profile</a>
    <a href="{%url 'logout'%}" class="nav-item">Logout</a>
    {%else%}
    <a href="{%url 'register'%}" class="nav-item">Register/Login</a>

    {%endif%}
</nav>

{%if messages%}
{%for message in messages%}
<div class="alert alert-{{message.tags}} text-center">
    {{message}}
</div>
{%endfor%}
{%endif%}
{%block body%}

{%endblock body%}
<a class="github-corner" href="https://github.com/AtufaShireen/QuizCreator" title="Fork me on GitHub" target="_blank">
	<svg width="80" height="80" viewbox="0 0 250 250">
		<title>Fork me on GitHub</title>
		<path d="M0 0h250v250" />
		<path class="octo-arm" d="M127.4 110c-14.6-9.2-9.4-19.5-9.4-19.5 3-7 1.5-11 1.5-11-1-6.2 3-2 3-2 4 4.7 2 11 2 11-2.2 10.4 5 14.8 9 16.2" fill="currentColor" style="transform-origin:130px 110px;" />
		<path class="octo-body" d="M113.2 114.3s3.6 1.6 4.7.6l15-13.7c3-2.4 6-3 8.2-2.7-8-11.2-14-25 3-41 4.7-4.4 10.6-6.4 16.2-6.4.6-1.6 3.6-7.3 11.8-10.7 0 0 4.5 2.7 6.8 16.5 4.3 2.7 8.3 6 12 9.8 3.3 3.5 6.7 8 8.6 12.3 14 3 16.8 8 16.8 8-3.4 8-9.4 11-11.4 11 0 5.8-2.3 11-7.5 15.5-16.4 16-30 9-40 .2 0 3-1 7-5.2 11l-13.3 11c-1 1 .5 5.3.8 5z" fill="currentColor" />
	</svg>
</a>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

        {%block js%}{%endblock js%}
</body>

</html>