{% extends "blogapp/base.html" %}

{%block css%}
{%load static%}
<link rel="stylesheet" href="{%static 'users/register.css'%}" type="text/css">
{%endblock css%}
{% block body %}

<section class="login-panel">
    <div class="left-side"></div>
    <div class="right-side">
        <h1>Trouble Signing In?<br>
            <span>request a password reset, and we will have you up again..</span>
        </h1>
        {%if user.is_authenticated%}
        <p>You've been logged in already, please make sure your making a request for a forgotten password</p>

        {%else%}
        <form method='post'>
            {%csrf_token%}
            {{form}}
            <input type="submit" value="forgotten password" class="submit-btn">
        </form>

        <small class="text-muted">
            try signing in again? <a class="ml-2" href="{% url 'login' %}">Log Into Your Account</a>
        </small>
        {%endif%}

    </div>
</section>
{% endblock body %}


