.content {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  background-color: #fefefe;
  max-width: 500px;
  min-height: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "Special Elite", cursive;
  color: ##4a4a4a;
  border-radius: 5%;
  padding: 35px;
  box-shadow: 0px 30px 50px -20px rgba(0,0,0,0.5)
}

.circle {
  border-radius: 50%;
  float: right;
  box-shadow: 0px 90px 100px -30px rgba(0,0,0,0.5), 0px 0px 10px 2px rgba(0,0,0,0.5);
  margin-left: 5px;
  margin-right: -30%;
  margin-top: -100px;
  grid-column: 3 / 3;
  margin-bottom: -60px;
  animation: blink-halo 3s infinite;
  animation-timing-function: linear;
}

.content-card {
  text-justify: inter-word;
  grid-column: 1 / span 2;
  grid-row: 3;
}

.title {
  color: #3f2772;
  grid-column: 1 / span 2;
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 500px) {
  .content {
    border-radius: 20px;
    margin-top: 150px;
  display:grid;
  grid-template-columns: 1fr;
  }
  .circle {
    margin: 0 auto;
    margin-top: -150px;
    grid-column: 1/ span 2;
    grid-row: 1;
  }
  .title {
    grid-column: 1/ span 2;
    grid-row: 2;
    margin-bottom: 50px;
  }

  .content-card {
    grid-row: 3;
  }
}
