html{
height:100%;
}
body{
min-height:100%;
}
nav
{
    top: 6%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
}

nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: grey;
    text-decoration: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}
nav a:nth-child(4):before
{
    background-color: pink;
}

nav a:nth-child(4):after
{
    background-color: orange;
}

nav a:hover
{
    color: black;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

.info {
  font-size: 1.2em;
  height: 2em;
}

.info img {
  height: 2em;
  margin-right: 0.5em;
}

@media screen and (max-width: 450px) {
nav a {
    padding:10px 5px;
    }
  .info {
    padding:1px 2px 2px 2px;
  }

}
@media screen and (max-width: 900px) {
  .info {
    justify-content: left;
    padding:1px 2px 2px 2px;
  }
}