
form{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    max-width: 1064px;
    background: #fff;
    padding: 15px 15px 0px 5px;
    height: auto;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    margin: 40px 70px 0 70px;
 }

.buttons{
align-self: flex-end;
max-height: max-content;
position: absolute;
margin:50px;
}
.bio{
font-size:12px;
display:block;
text-align:center;
color:grey;
text-transform:none;
font-weight:600;
letter-spacing:0;
}
.icon{
 width:75px;
  height:75px;

  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.detail{
text-align: right;
}

#myDIV{
display:none;
}

.bore{
display:flex;
}
.camera4{
  display:block;
  width:70%;
  height:50%;
  position:absolute;
  top:30%;
  left:15%;
  background-color:#000;
  border-radius:5px;
}
.camera4:after{
  content:"";
  display:block;
  width:15px;
  height:15px;
  border:7px solid #fff;
  position:absolute;
  top:15%;
  left:25%;
  background-color:#000;
  border-radius:15px;
}
.camera4:before{
  content:"";
  display:block;
  width:50%;
  height:10px;
  position:absolute;
  top:-16%;
  left:25%;
  background-color:#000;
  border-radius:10px;
}

#profile-upload{
    background-image:url('');
    background-size:cover;
    background-position: center;
    height: 230px; width: 230px;
    border: 1px solid #bbb;
    position:relative;top:20px;
  border-radius:50%;
  overflow:hidden;


  float:left;margin-right:30px;margin-bottom:0px;

}
#profile-upload:hover input.upload{
  display:block;
}
#profile-upload:hover {
  border: 1px solid gray
}
#profile-upload:hover .hvr-profile-img{
  opacity:1;
 }
.hvr-profile-img{
opacity:.3;
font-size:0px;
}

#profile-upload input.upload {
    z-index:1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;

    width:100%;
    display:none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.bore{
display:block;
}
#profile-upload{
width:150px;
margin-left:70px;
}
.buttons{
margin: 0px 120px 0px 0;
}
form{
margin:20px;
flex-direction: column-reverse;
justify-content: end;
height:660px;
justify-content: space-between;}
.detail{
text-align: right;
}

}

.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button--size-s {
	font-size: 14px;
}
.button--text-thick {
	font-weight: 600;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}
.button--isi {
	padding: 1.2em 2em;
	color: #fff;
	background: #7986cb;
	overflow: hidden;
}
.button--isi::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -15px 0 0 1px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #3f51b5;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
}
.button--isi .button__icon {
	vertical-align: middle;
}
.button--isi > span {
	vertical-align: middle;
	padding-left: 0.75em;
}
.button--isi:hover::before {
	-webkit-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
}